body
{
    background-color: #F5F4F4;
    width:78vw;
    margin: 0;
}
#backTOTop
{
    width: 3rem;
    display: inline-block;
    
    text-align: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
   
    padding: 0.25rem;
}

#backTOTop-wrapper
{
   
  position: fixed;
  
  right: 1rem;
  
  bottom: 1px;
  
display: inline-block;
  
}
#backTOTop img 
{
    width: 100%;
}
.head-h1
{
    
      font-size: 2rem;
      font-weight: bold;
      border-bottom: 2px solid #4f0e0e;
      text-align: center;
}
h1
{
    font-family: 'Encode Sans SC', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}
h4
{
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 1.20rem;
    font-weight: bolder;
}
li
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 25px;
    font-size: large;
}
p
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: large;
    line-height: 25px;
}
.navBar
{
    width:97vw;
    background-color: white;
    text-align: center;
    border-radius: 8px;
}
.navBar img
{
    display: inline-block;
    width: 20%;
}
#main
{
    background-color: white;
    border-radius: 15px;
    width:100vw;
    margin: 5px 2px;
    padding-right: 3px;
    
}


.image img
{
    width: 80%;
}
.image
{
    text-align: center;
}
.content
{
    
    padding: 20px 20px;
}
.head
{
    padding: 20px 17px;
}
.ul
{
    padding-inline-start: 0 !important;
}
.content ul 
{
    overflow-y: auto;
    height: 7rem;
}
#importantPeople
{
    padding-left: 0.5rem;
    margin-top: 2rem;
    border-top: 2px solid #4f0e0e;
    
}
#importantPeople h1
{
    font-size: 1.25rem;
    text-align: left;
    display: inline-block;
}
#importantPeople p 
{
    font-size: 1rem;
    margin-top: 0;
    width: 20rem;
    
}

@media (min-width:641px) 
{
    .main{
        padding: 0 2rem;
        width: 88vw;
    }
    .main p, .main li
    {
        font-size: large;
        line-height: 35px;
    }

}

@media (min-width:1008px)
{
    .main
    {
        padding: 2rem 8rem;
        width: 83vw;
    }
    .main h1
    {
        
        text-align: center;
    }
    .navBar
    {
        width: 99vw;
    }
    .navBar img
    {
        width: 10rem;
    }
    .image img 
    {
        width: 25rem;
    }
    li
    {
        margin: 0 auto;
        width: 40rem;
    }
    h4 
    {
        text-align: center;
        font-size: 3rem;;
    }
    .head-h1
    {
        font-size: 3.5rem;
    }
    .content ul 
    {
        height: 12rem;
    }
    #importantPeople
    {
        text-align: center;
    }
    #importantPeople p 
    {
        text-align: center!important;
        width: 98vw;
    }
}